<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Resas Users</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header>
    <h1 class="header-titre">Réservation de courts de tennis</h1>
    <p class="header-user"><strong><span th:text="|Bonjour, ${name} !|" /></strong></p>
</header>

<div class="wrapper">
    <aside class="menu">
        <h2>Menu</h2>
        <div>
            <a href="reload">Voir l'utilisateur connecté</a> (nécessite une session)
            <br>
            <a href="javascript:updateName()">Modifier le nom</a> <input id="newName">
            <br>
            <a href="javascript:sayHelloTo()">Dire bonjour à l'utilisateur</a> <input id="other">
            <br>
            <a href="list">Lister les utilisateurs</a> (todo)
            <br>
            <a href="deco">Se d&eacute;connecter</a> (todo)
        </div>
    </aside>

    <article class="contenu">
        <p>Rajouter les informations utilisateur ici en utilisant un objet <code>Model</code> contenant un objet <code>User</code>.</p>
        <p>Voir doc de <a href="https://www.thymeleaf.org/">Thymeleaf</a>.</p>
    </article>
</div>

<footer>
    <div>Licence : <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/"><img
            alt="Licence Creative Commons" style="border-width:0; vertical-align:middle;"
            src="https://i.creativecommons.org/l/by-nc-sa/3.0/fr/88x31.png"/></a></div>
</footer>

<script>
    function updateName() {
        window.location = "update?name=" + document.getElementById("newName").value;
    }
    function sayHelloTo() {
        window.location = "hello?name=" + document.getElementById("other").value;
    }
</script>
</body>
</html>